

.abc {
    margin-top: 0;
    overflow: hidden;
    background-color: #1c7c27;
  }

.xyz
{
    float:none;
    display: list-item;
    text-align:center;
    padding:0;
    background-color:#1c7c27;
}
