

table, th, td {
    border: 2px solid rgb(27, 145, 23);
    border-collapse: collapse;
    padding:4px;
    text-align: center;
    background-color: rgb(14, 80, 25);
  }
  
  th
  {
    background-color: rgb(8, 51, 11);
  }

  td:hover
  {
    background-color: rgb(12, 73, 12);
  }