
.verbs {
    margin-top: 1%;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  

.nouns {
    float: left;
    display: block;
    color: #666;
    text-align: center;
    padding: 1.5%;
    text-decoration: none;
    width:9.2%;
}

.nouns:hover {
    background-color: #10681c;
    text-decoration: underline;
  }
  