
.verbs {
    margin-top: 1%;
    overflow: hidden;
    border: 1px solid #35ad43;
    background-color: #0b4612;
  }
  

.nouns {
    float: left;
    display: block;
    color: #666;
    text-align: center;
    padding: 1.5%;
    text-decoration: none;
    width:9.2%;
}

.nouns:hover {
    background-color: #13571b;
    text-decoration: underline;
  }
  